networks:
  web:
    external: true
  local:
    external: true

services:
  wordpress:
    image: wordpress
    networks:
      - web
      - local
    environment:
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: {{ mysql_pass }}
      WORDPRESS_DB_NAME: wordpress_db
    volumes:
      - /mnt/wordpress:/var/www/html
    deploy:
      mode: replicated
      replicas: 1
      labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "certbot.domain=www.{{ domain }}"
      # Service
      - "traefik.http.services.wordpress.loadbalancer.server.port=80"
      # Router: Public
      - "traefik.http.routers.wordpress.rule=Host(`www.{{ domain }}`)"
      - "traefik.http.routers.wordpress.entrypoints=websecure"
      - "traefik.http.routers.wordpress.service=wordpress"
      - "traefik.http.routers.wordpress.middlewares=gzip"

  mysql:
    image: mysql:8.0
    networks:
      - local
    environment:
      MYSQL_DATABASE: wordpress_db
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: {{ mysql_pass }}
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - /mnt/mysql:/var/lib/mysql
