networks:
  web:
    external: true
  local:
    external: true

services:
  frontend:
    image: plone/plone-frontend:17
    networks:
      - web
      - local
    environment:
      RAZZLE_INTERNAL_API_PATH: http://backend:8080/Flexbiz
      RAZZLE_DEV_PROXY_API_PATH: http://backend:8080/Flexbiz
    deploy:
      mode: replicated
      replicas: 1
      labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "certbot.domain=www.{{ domain }}"
      # Service
      - "traefik.http.services.svc-frontend.loadbalancer.server.port=3000"
      # Router: Public
      - "traefik.http.routers.rt-frontend-public.rule=Host(`www.{{ domain }}`)"
      - "traefik.http.routers.rt-frontend-public.entrypoints=websecure"
      - "traefik.http.routers.rt-frontend-public.service=svc-frontend"
      - "traefik.http.routers.rt-frontend-public.middlewares=gzip"

  backend:
    image: plone/plone-backend:6.0
    networks:
      - local
    environment:
      SITE: Flexbiz
    volumes:
      - /mnt/plone:/data
    deploy:
      mode: replicated
      replicas: 1